/* header */
/* up to 768px screen */
@media (max-width: 48em) {
  .date-time {
    padding: 0.5rem 0.1rem;
  }
}
/* 768px start to bigger screen */
@media (min-width: 48em) {
  .nav-open.main-nav-list-mobile {
    display: none;
  }
}

/* up to 768px screen */
@media screen and (max-width: 48.5em) {
  html {
    font-size: 50%;
  }
  .header {
    margin: 2%;
    padding: 1rem 5rem;
  }
  .mobile-nav-btn {
    display: block;
  }
  .main-nav-list {
    display: none;
  }
  .logo-container {
    display: none;
  }
  .nav-open.icon-mobile-nav[id="menu-outline"] {
    display: none;
  }
  .nav-open.icon-mobile-nav[id="close-outline"] {
    display: block;
  }
  .icon-mobile-nav {
    width: 3rem;
  }
}

/* hero-section */
/* up to 768px screen */
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
  .hero-section {
    margin: 5.6rem;
    padding: 5.6rem;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 5.2rem;
    justify-content: center;
    text-align: center;
  }
  .image-container {
    order: 1;
  }
  .hero-description {
    order: 2;
  }
  .hero-description,
  .image-container {
    width: 100%;
  }
  .hero-description h1 {
    font-size: 3.8rem;
    line-height: 1.1;
  }
  .hero-description p {
    font-size: var(--font-base);
  }
}
/* from 800px starts up to 1130px ends */
@media screen and (min-width: 49em) and (max-width: 70.625em) {
  html {
    font-size: 56%;
  }
  .hero-description h1 {
    font-size: 4rem;
  }
  .hero-description p {
    font-size: var(--font-base);
  }
}

/* up to 310px */
@media (max-width: 19.375em) {
  html {
    font-size: 48%;
  }
  .hero-container {
    overflow: hidden;
  }
}

/* about me */
/* starts 800px up to 944px */
@media screen and (max-width: 50em) and (max-width: 59em) {
  .about-me {
    padding: 5rem;
  }
}
/* starts from 769px up to 1400px */
@media screen and (max-width: 89.5em) and (min-width: 49em) {
  .about-me {
    padding: 4rem;
  }
}

/* gallary-section */
/* up to 768px */
@media screen and (max-width: 48em) {
  .gallary-section h2,
  .about-me h2 {
    font-size: 2.6rem;
  }
  .about-me p {
    font-size: 2rem;
    line-height: 1.4;
  }
  .gallery-item {
    flex-basis: 40%;
    border-radius: 0.8rem;
    margin: 0.5rem;
  }
}

/* up to 448px */
@media screen and (max-width: 28em) {
  .gallery-item {
    flex-basis: 100%;
  }
}
/* contact-us */
/* up to 768px screens */
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
  .form-container {
    max-width: 100%;
    border-radius: 0.8rem;
  }
  .contact-us {
    margin: 3.2rem;
  }
  .contact-header {
    font-size: 2.6rem;
  }
  .contact-form {
    gap: 2.2rem;
  }
}

/* footer */
/* up to 768px */
@media screen and (max-width: 48em) {
  .footer {
    font-size: 2rem;
  }
}
